{% extends 'base.html' %}

{% block title %}Wunschliste{% endblock %}

{% block header %}
	<ul class="menu items-stretch px-3 shadow-lg  horizontal rounded-box ">
		{% for user in all_users %}
			{% if user == list_owner %}
				<li class="bordered">
					{% else %}
				<li>
			{% endif %}
		<a class="" href="{% url 'wishList' user.id %}">
			{{ user.username }}
		</a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block header_small %}
	{% for user in all_users %}
		{% if user == list_owner %}
			<li class="bordered">
				{% else %}
			<li>
		{% endif %}
	<a class="" href="{% url 'wishList' user.id %}">
		{{ user.username }}
	</a>
	</li>
	{% endfor %}

{% endblock %}

{% block content %}
	<form action="{% url 'newOwnWish' %}" method="post" class="">
		{% csrf_token %}
		<input type="hidden" name="list_owner" value="{{ list_owner.id }}">
		<label class="label" for="wish-text"><span class="label-text">Neuer Wunsch</span></label>
		<input type="text" id="wish-text" name="wish-text" class="input input-bordered" required>
		<label class="label" for="wish-link"><span class="label-text">Link</span></label>
		<input type="url" id="wish-link" name="wish-link" class="input input-bordered">
		<br>
		<input type="submit" value="Hinzufügen" class="btn">
	</form>
	<br>
	<div>
		{% for wish in wishes %}
			<div class="card shadow-lg compact">
				<div class="card-body">
					<h2 class="card-title">
						{{ wish.text }}
						{% if wish.wish_for != user and wish.reserved_by %}
							<div class="badge">
								Reserviert von {{ wish.reserved_by.username }}
							</div>
						{% endif %}
					</h2>
					{% if wish.link %}
						<div>
							<a href="{{ wish.link }}" target="_blank" rel="noopener noreferrer">Link</a>
						</div>
					{% endif %}
					<div class="card-actions">
						{% if wish.owner == user %}
							<a class="btn btn-sm" href="{% url 'deleteWish' wish.id %}?list_owner={{ list_owner.id }}">Löschen</a>
							<a class="btn btn-sm" href="{% url 'editWish' wish.id %}?list_owner={{ list_owner.id }}">Bearbeiten</a>
						{% endif %}
						{% if wish.wish_for != user and not wish.reserved_by %}
							<a class="btn btn-sm" href="{% url 'reserveWish' wish.id %}?list_owner={{ list_owner.id }}">Reservieren</a>{% endif %}
						{% if wish.wish_for != user and user == wish.reserved_by %}
							<a class="btn btn-sm"
							   href="{% url 'cancelReserveWish' wish.id %}?list_owner={{ list_owner.id }}">
								Nicht mehr reservieren
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		{% if wishes|length == 0 %}
			Keine Wünsche vorhanden.
		{% endif %}
	</div>
{% endblock %}