{% extends 'base.html' %}

{% block title %}Wunschliste{% endblock %}

{% block header_small %}
	<li>
		<a href="{% url 'wishList' user.id %}">
			Meine Liste
		</a>
	</li>
{% endblock %}

{% block content %}
	<h1 class="font-bold text-3xl">Meine Reservierungen</h1>
	{% for reservation in object_list %}
		<div class="card shadow-lg compact">
			<div class="card-body">
				<h2 class="card-title">
					{{ reservation.wish.wish_for }}
				</h2>
				{{ reservation.wish.text }}
				<div class="card-actions">
					<a class="btn btn-sm"
					   href="{% url 'cancelReserveWish' reservation.wish.id %}?list_owner={{ list_owner.id }}">
						Nicht mehr reservieren
					</a>
				</div>
			</div>
		</div>
	{% empty %}
		Keine Reservierungen
	{% endfor %}
{% endblock %}