{% extends "base-public.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <h1 class="text-2xl font-bold">
        {% trans "Sign Up" %}
    </h1>

    {% setvar link %}
        <a href="{{ login_url }}">
    {% endsetvar %}
{% setvar end_link %}
    </a>
{% endsetvar %}
    <p>
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    </p>

    {% if not SOCIALACCOUNT_ONLY %}
        <form method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-primary mt-2">
                {% trans "Sign Up" %}
            </button>
        </form>
    {% endif %}
    
    {% if PASSKEY_SIGNUP_ENABLED %}
        <div class="divider"></div>
        <a class="btn btn-primary mt-2" href="{{ signup_by_passkey_url }}">
            {% trans "Sign up using a passkey" %}
        </a>
    {% endif %}
    
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
