{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <ul>
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    <li>
                        <a class="btn btn-primary" title="{{ brand.name }}" href="{{ href }}">{{ brand.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
            <li>
                <a class="btn btn-primary" title="{{ provider.name }}" href="{{ href }}">{{ provider.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
