---
services:
  wishlist:
    image: registry.gitlab.fachschaften.org/mieves.dev/wishlist
    container_name: wishlist
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./db/:/app/db/
    environment:
      - DEBUG=True
      - SECRET_KEY=Test
