{% extends 'base.html' %}

{% block title %}Anmelden{% endblock %}

{% block content %}
	<h1>Log In</h1>
	<form method="post" class="form-control">
		{% csrf_token %}
		<label for="id_username" class="label">
			<span class="label-text">Benutzername:</span>
		</label>
		<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
		       maxlength="150" required id="id_username" class="input input-bordered">

		<label for="id_password" class="label">
			<span class="label-text">Passwort:</span>
		</label>
		<input type="password" name="password" autocomplete="current-password" required id="id_password"
		       class="input input-bordered">
		<button type="submit" class="btn mt-4">Anmelden</button>
	</form>
{% endblock %}