{% extends 'base.html' %}
{% load customTags %}

{% block title %}Anmelden{% endblock %}

{% block content %}
	<h1>Log In</h1>
	<form method="post" class="form-control">
		{% csrf_token %}
		<label for="id_username" class="label">
			<span class="label-text">Benutzername:</span>
		</label>
		<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
		       maxlength="150" required id="id_username" class="input input-bordered">

		<label for="id_password" class="label">
			<span class="label-text">Passwort:</span>
		</label>
		<input type="password" name="password" autocomplete="current-password" required id="id_password"
		       class="input input-bordered">
		<button type="submit" class="btn">Anmelden</button>
	</form>
	<br>
	<div data-tip="Kritische Fehler werden automatisch an das Entwicklungsteam geschickt und schnellstmöglich behoben."
	     class="tooltip">
		<div class="alert">
			<div class="flex-1">
				<!--<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#2196f3"
					 class="w-6 h-6 mx-2">-->
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
				</svg>
				<label>{{ "test" | error_tracking }}</label>
			</div>
		</div>
	</div>
{% endblock %}