{% extends 'base-clear.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="card max-w-md w-screen m-4 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">Passwort zurücksetzen</h2>
                <p>
                    Passwort vergessen? Einfach die E-Mail-Adresse unten eingeben und den Anweisungen zum Zurücksetzen
                    des
                    Passworts in der E-Mail folgen.</p>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-error mb-2">
                                <div class="flex-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         class="w-6 h-6 mx-2 stroke-current">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                                    </svg>
                                    <label>{{ error }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <form method="post" class="form-control">
                    {% csrf_token %}
                    <label for="id_email" class="label">
                        <span class="label-text">E-Mail-Adresse:</span>
                    </label>
                    <input type="email" name="email"
                           autocomplete="email" required=""
                           id="id_email" maxlength="254" class="input input-bordered">
                    <div class="card-actions justify-end">
                        <button type="submit" class="btn mt-4">Mein Password zurücksetzen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
