{% extends 'base-clear.html' %}

{% block title %}Passwort erfolgreich geändert{% endblock %}

{% block content %}
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="card max-w-md w-screen m-4 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">Passwort erfolgreich geändert.</h2>
                <div class="card-actions justify-end">
                    <a href="{% url 'homeView' %}" class="btn mt-4">Zurück</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
