<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
	<h1>Passwort ändern</h1>
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-error">
					<div class="flex-1">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						     class="w-6 h-6 mx-2 stroke-current">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							      d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
						</svg>
						<label>{{ error }}</label>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
	<form method="post" class="form-control">
		{% csrf_token %}

		<label for="id_old_password" class="label">
			<span class="label-text">Altes Passwort:</span>
		</label>
		<input type="password" name="old_password"
		       autocomplete="current-password" autofocus=""
		       required="" id="id_old_password" class="input input-bordered">
		<label for="id_new_password1" class="label">
			<span class="label-text">Neues Passwort:</span>
		</label>
		<input type="password" name="new_password1"
		       autocomplete="new-password" required=""
		       id="id_new_password1" class="input input-bordered">
		<div class="alert alert-info mt-4">
			<div class="flex-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
				     class="w-6 h-6 mx-2 stroke-current">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
				</svg>
				<label>
					<ul>
						<li>Das Passwort darf nicht zu ähnlich zu anderen persönlichen Informationen sein.</li>
						<li>Das Passwort muss mindestens 8 Zeichen enthalten.</li>
						<li>Das Passwort darf nicht allgemein üblich sein.</li>
						<li>Das Passwort darf nicht komplett aus Ziffern bestehen.</li>
					</ul>
				</label>
			</div>
		</div>
		<label for="id_new_password2" class="label">
			<span class="label-text">Neues Passwort bestätigen:</span>
		</label>
		<input type="password" name="new_password2"
		       autocomplete="new-password" required=""
		       id="id_new_password2" class="input input-bordered">
		<button type="submit" class="btn mt-4">Passwort ändern</button>
	</form>
{% endblock %}