{% extends 'base-clear.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="card max-w-md w-screen m-4 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title"> E-Mail zum Passwort zurücksetzen abgesendet</h2>
                <p>
                    Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet,
                    sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.</p>
                <p> Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und
                    gegebenenfalls den Spam-Ordner überprüfen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
