{% extends 'base-clear.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="card max-w-md w-screen m-4 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">Passwort zurücksetzen abgeschlossen</h2>
                <p> Ihr Passwort wurde zurückgesetzt. Sie können sich nun anmelden. </p>
                <div class="card-actions justify-end">
                    <a href="{% url 'login' %}" class="btn mt-4">Anmelden</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
