{% if errors %}
    <div role="alert" class="alert alert-error max-w-xs">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ errors }}</span>
    </div>
{% endif %}

{% if errors and not fields %}
    <p>
        {% for field in hidden_fields %}
            {{ field }}
        {% endfor %}
    </p>
{% endif %}

{% for field, errors in fields %}
    <fieldset class="fieldset">
    {% if field.field.widget.input_type == 'checkbox' or field.field.widget.input_type == 'radio' %}
        <label class="fieldset-label">
        {{ field }}
        {{ field.label }}
        </label>
    {% else %}
        <legend class="fieldset-legend">{{ field.label }}</legend>
        {{ field }}
    {% endif %}
        {% if field.help_text %}
            <p class="fieldset-label">{{ field.help_text|safe }}</p>
        {% endif %}
        {% if errors %}
            <p class="fieldset-label text-error font-bold">
                {{ errors }}
            </p>
        {% endif %}
    </fieldset>
{% endfor %}

{% for field in hidden_fields %}
    {{ field }}
{% endfor %}

{% if not fields and not errors %}
    {% for field in hidden_fields %}
        {{ field }}
    {% endfor %}
{% endif %}
