{% extends 'wishlist/wishlist-base.html' %}

{% block content %}
    <div class="flex items-center justify-center">
        <div class="card card-bordered w-96 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">Wunsch hinzufügen</h2>
                <form method="post">
                    <div class="mb-2">
                        {% csrf_token %} {{ form.non_field_errors }}
                        <div class="form-control w-full max-w-xs">
                            <label class="label" for="{{ form.text.id_for_label }}">
                                <span class="label-text">{{ form.text.label_tag }}</span>
                                <span class="label-text-alt">{{ form.text.errors }}</span>
                            </label>
                            {{ form.text }}
                        </div>
                         <div class="form-control w-full max-w-xs">
                            <label class="label" for="{{ form.description.id_for_label }}">
                                <span class="label-text">{{ form.description.label_tag }}</span>
                                <span class="label-text-alt">{{ form.description.errors }}</span>
                            </label>
                            {{ form.description }}
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label" for="{{ form.link.id_for_label }}">
                                <span class="label-text">{{ form.link.label_tag }}</span>
                                <span class="label-text-alt">{{ form.link.errors }}</span>
                            </label>
                            {{ form.link }}
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label" for="{{ form.quantity.id_for_label }}">
                                <span class="label-text">{{ form.quantity.label_tag }}</span>
                                <span class="label-text-alt">{{ form.quantity.errors }}</span>
                            </label>
                            {{ form.quantity }}
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label" for="{{ form.depends_on.id_for_label }}">
                                <span class="label-text">{{ form.depends_on.label_tag }}</span>
                                <span class="label-text-alt">{{ form.depends_on.errors }}</span>
                            </label>
                            {{ form.depends_on }}
                        </div>
                        <div class="card-actions justify-end mt-4">
                            <button class="btn btn-primary" type="submit">Hinzufügen</button>
                        </div>
                    </div>
                </form>
                <div class="hidden select select-bordered w-full max-w-xs"></div>
            </div>
        </div>
    </div>
{% endblock %}
