{% extends 'wishlist/wishlist-base.html' %}

{% block home_logo_extra %}
    von {{ list_owner }}
{% endblock %}

{% block title_extra %}
    von {{ list_owner }}
{% endblock %}

{% block navbar_extra2 %}
    <li>
        <a href="{% url 'createWish' list_owner.id %}" class="hidden sm:flex">
            Neuen Wunsch hinzufügen
        </a>
    </li>
{% endblock %}

{% block content %}
    <a href="{% url 'createWish' list_owner.id %}" class="btn w-full mb-4 lg:hidden">Neuen Wunsch hinzufügen</a>
    <div>
        {% for wish in wishes %}
            {% include "wishlist/wish_template.html" with wish=wish %}
        {% empty %}
            <div class="alert alert-success shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Keine Wünsche vorhanden.</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
