{% extends 'base-internal.html' %}
{% load email_hash %}
{% load static %}

{% block head_title %}
    Wunschliste {% block title_extra %}{% endblock %}
{% endblock %}

{% block head %}
    <link rel="icon" type="image/x-icon" href="{% static 'wishlist/images/logo.png' %}">
    <link rel="manifest" href="{% url 'manifest' %}">
{% endblock %}

{% block account_picture %}
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            <img src="https://www.gravatar.com/avatar/{{ user|email_hash }}?d=identicon" alt="Avatar" />
        </div>
    </div>
{% endblock %}
