{% extends 'base.html' %}
{% load email_hash %}

{% block title %}Wunschliste {% block title_extra %}{% endblock %}{% endblock %}

{% block home_logo %}
	Wunschliste
	{% block home_logo_extra %}
	{% endblock %}
{% endblock %}

{% block navbar_links %}
	{% block navbar_extra %}
	{% endblock %}
	<li>
		<a href="{% url 'reservationListView' %}">Meine Reservierungen</a>
	</li>
	<li tabindex="0">
		<details>
			<summary>Wunschlisten</summary>
			<ul class="p-2">
				{% for user in all_users %}
					<li>
						<a class="" href="{% url 'wishList' user.id %}">
							{{ user.username }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</details>
	</li>
{% endblock %}

{% block account_picture %}
	<label tabindex="0" class="btn btn-ghost btn-circle avatar">
		<div class="w-10 rounded-full">
			<img src="https://www.gravatar.com/avatar/{{ user|email_hash }}?d=identicon" alt="Avatar"/>
		</div>
	</label>
{% endblock %}

{% block sidebar_links %}
	<li>
		<a href="{% url 'reservationListView' %}">Meine Reservierungen</a>
	</li>
	{% for user in all_users %}
		<li>
			<a class="" href="{% url 'wishList' user.id %}">
				{{ user.username }}
			</a>
		</li>
	{% endfor %}
{% endblock %}