{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/css/output.css' %}" rel="stylesheet" type="text/css">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
{% block body %}
    {% if messages %}
        <div class="toast">
            {% for message in messages %}
                <div class="alert alert-info">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex">
            <a href="{% url 'home_view' %}" class="btn btn-ghost">
                <div class="avatar">
                    <div class="w-10 rounded">
                        <img src="{% static 'wishlist/images/logo.png' %}" alt="Logo"/>
                    </div>
                </div>
                <p class="m-auto">
                    Wunschliste
                    {% block home_logo_extra %}
                    {% endblock %}
                </p>
            </a>
        </div>

        {% if user.is_authenticated %}
            <div class="flex-1">
                <div class="w-full flex justify-end px-2">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-outline m-1">Wunschlisten</div>
                        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                            <li>
                                <a href="{% url 'reservationListView' %}">Meine Reservierungen</a>
                            </li>
                            {% for user in all_users %}
                                <li>
                                    <a href="{% url 'wishList' user.id %}">
                                        {{ user.username }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="flex gap-2">
            <div class="dropdown dropdown-end">
                {% block account_picture %}
                    {% if user.is_authenticated %}
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                                <img
                                        alt="Tailwind CSS Navbar component"
                                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                            </div>
                        </div>
                    {% endif %}
                {% endblock account_picture %}

                {% if user.is_authenticated %}
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                        {% url 'account_email' as email_url_ %}
                        {% if email_url_ %}
                            <li>
                                <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url_ %}
                        {% if change_password_url_ %}
                            <li>
                                <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                            </li>
                        {% endif %}
                        {% url 'socialaccount_connections' as connections_url_ %}
                        {% if connections_url_ %}
                            <li>
                                <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                            </li>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url_ %}
                        {% if mfa_url_ %}
                            <li>
                                <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                            </li>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url_ %}
                        {% if usersessions_list_url_ %}
                            <li>
                                <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_logout' as logout_url_ %}
                        {% if logout_url_ %}
                            <li>
                                <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content-base %}
    {% endblock content-base %}
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}

</body>
</html>
