{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Wunschliste{% endblock %}</title>
	<link href="{% static 'css/daisyui.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
	<div class="px-2 mx-2 navbar-start">
		<a href="{% url 'homeView' %}" class="text-lg font-bold">
			Wunschliste
		</a>
	</div>
	<div class="hidden px-2 mx-2 navbar-center lg:flex">
		<div class="flex items-stretch">
			{% block header %}
			{% endblock %}
		</div>
	</div>
	<div class="navbar-end">
		{% if user.is_authenticated %}
			<div class="dropdown dropdown-end lg:hidden">
				<div tabindex="0" class="btn btn-ghost rounded-btn">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
					     class="inline-block w-6 h-6 stroke-current">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						      d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</div>
				<div>
					<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52 text-black">
						{% block header_small %}
						{% endblock %}
						<div class="divider"></div>
						<li>
							<a href="{% url 'password_change' %}">Passwort ändern</a>
						</li>
						<li>
							<a href="{% url 'logout' %}">{{ user.username }} abmelden</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="dropdown dropdown-end hidden lg:flex">
				<div tabindex="0" class="btn btn-ghost rounded-btn">
					Account
				</div>
				<div>
					<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52 text-black">
						<li>
							<a href="{% url 'password_change' %}">Passwort ändern</a>
						</li>
						<li>
							<a href="{% url 'logout' %}">{{ user.username }} abmelden</a>
						</li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<main>
	<div class="p-4">
		{% block content %}
		{% endblock %}
	</div>
</main>
</body>
</html>